h5 {
    
    font-weight:700 !important;
    font-family:'Haettenschweiler', 'Arial Narrow Bold', sans-serif !important;
    font-size: xxx-large !important;
    text-align: center;
    padding-top: 2.25rem;

}





