.hoverTable {
  width: 75%;
  border-spacing: 0;
  border-radius: 10px;
}

.hoverTable td {
  padding: 7px;
  border: #4e95f4 1px solid;
  text-align: center;
}

.hoverTable tr {
  background: #05c2c5;
}

.hoverTable td:hover {
  background-color: #017d80;
  cursor: pointer;
}

.hoverButton td:hover {
  background-color: #f3f3f3;
}


