.hoverTable {
  width: 75%;
 
  border-radius: 7px;
}

.hoverTable td {
  padding: 7px;
  border: #4e95f4 1px solid;
  text-align: center;
  font-size: larger;
}

.hoverTable thead {
  line-height: 15px;
  font-size: x-large;
}
.hoverTable th {
  padding-top: 10px;
  padding-bottom: 10px;
}

.hoverTable tr {
  background: #05c2c5;
}

.hoverTable td:hover {
  background-color: #017d80;
  cursor: pointer;
}

.hoverButton td:hover {
  background-color: #f3f3f3;
}




